<!DOCTYPE html>
<html>
    <head>
        <title>Sochlo</title>
        <link rel="icon" href="/stylesheets/img/icon.png">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div class="info">
		<h3 id="day"></h3>
		<h3 id="month"></h3>
		<h1 id="day-name"></h1>
		<h4 id="year"></h4>
	</div>
    
    <div id="landing-header">
 		<h1>Welcome to Sochlo!</h1>
		<a href="/blogs" class="btn btn-lg btn-success">Go to Blogs &raquo;</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <script type="text/javascript" src="app.js"></script>
<% include partials/footer %>